@model Events.Web.Models.UpcomingPassedEventsViewModel

@{
    ViewBag.Title = "Public Meets";
}

@Html.Partial("_Events")

@section scripts {
    @Scripts.Render("~/bundles/ajax")
}
<div class="jumbotron">
    <h1>Meets</h1>
</div>